# Éste es un .env de ejemplo para la configuración de la base de datos PostgreSQL.
# Asegúrate de crear un archivo .env en la raíz del proyecto y reemplazar los valores según tu configuración.
# El archivo .env debe ser agregado al .gitignore para evitar que se suba a repositorios públicos.


# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=sei_digitals
# DB_USER=postgres
# DB_PASSWORD=TU_CONTRASEÑA

#Reemplazar TU_CONTRASEÑA con la contraseña de tu base de datos PostgreSQL.


#Ejemplo de conexión a PostgreSQL usando la URL de conexión:
#DATABASE_URL=postgresql://usuario:contraseña@host:puerto/nombre_base_de_datos

#Asegúrate de reemplazar los valores según tu configuración.